body {
  margin: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  padding: 40px;

  background-color: white;
  border-radius: 17px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*이메일, 비밀번호 칸*/
.login-form input {
  padding: 12px;
  border: 1px solid #e6d2bf;
  border-radius: 17px;
}

.login-form button {
  padding: 12px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}

.letsGoHome {
  color: #745f47;
  text-align: center;
}
